# Ignore Python bytecode files
*.pyc

# Ignore Python virtual environment directory (if created in the future)
venv/

# Ignore Git repository metadata (not necessary to ignore, but good practice)
/.git
